.h2Sport {
  margin-left: 730px;
  color: rgba(255, 255, 255, 0.7);
}

.img {
  margin-top: -17px;
}

.h3Head {
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 10px;
  font-size: 1.9em;
  /* margin-top: 20px; */
  /* text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -20px; */
}

.h3Question {
  color: rgba(255, 255, 255, 0.7);
  /* position: relative;
  text-align: center; */
  /* position: relative; */
  /* margin: 0 auto;
  text-align: center; */
  /* top: 40px; */
  /* margin-top: 20px; */
  /* text-align: center;
  font-size: 1.9em;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -20px; */
}

/* .btnQ {
  display: flex;
  border: none;
  background: rgba(255, 255, 255, 0);
  margin-top: -40px;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2em;
  cursor: pointer;
  transition: all .2s ease-in-out
} */

/* .btnQ:hover {
  text-decoration: underline;
  transform: scale(1.1);
  color: white;
} */

.btnSend {
  /* display: flex; */
  border: none;
  background: rgba(255, 255, 255, 0);
  /* margin-top: 60px; */
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2em;
  cursor: pointer;
  transition: all .2s ease-in-out;
  /* margin-left: 600px; */
  /* margin-top: 20px; */
  align-content: center;
  /* margin-left: -5px; */
}

.btnSend button {
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  border: none;
  cursor: pointer;
}

.btnSend:hover {
  transform: scale(1.1);
}

.btnSend:disabled, .btnSend[disabled] {
  color: black;
}

.btnSend:enabled, .btnSend[enabled] {
  color: rgba(255, 255, 255, 0.7);
}

.letter {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 900;
  margin-bottom: -10px;
}

.container {
  display: flex;
  margin-top: 30px;
}

.theForm {
  align-content: center;
  margin-left: 100px;
}

.questionInput {
  margin-top: -50px;
  width: 360px;
  text-align: left;
}

@media only screen and (max-width: 1000px) {
  .answerInput {
    max-width: 280px;
  }
  .questionInput {
    width: 280px;
  }
  .h3Question {
    font-size: 1em;
    margin-left: -18px;
  }
  .btnSend {
    margin-left: -5px;
  }
  .h3Head {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1222px) {
  .btnSend {
    /* margin-left: 60px; */
  }
}

input {
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-left: 20px;
}

.radioButton {
  margin-left: -83px;
  margin-top: 15px;
}

input[type="radio"] {
  margin-left: -83px;
  margin-top: 15px;
  height: 20px;
}

.answerInput {
  /* margin-left:20px; */
  margin-top: 0;
  margin-bottom: -20px;
  width: 360px;
  text-align: left;
}