.h2Sport {
    margin-left: 730px;
    color: rgba(255,255,255,0.7);
}

.img {
    margin-top: -17px;
}

.h3Head {
    color: rgba(255,255,255,0.7);
}
.btnQ {
  display: flex;
  border: none;
  background: rgba(255,255,255,0);
  margin-top: -40px;
  margin-left: 30px;
  color: rgba(0,0,0,0.6);
  font-size:1.2em;
  cursor: pointer;
  transition: all .2s ease-in-out
  }

.btnQ:hover{
  text-decoration: underline;
  transform: scale(1.1);
  color: white;

}


.btnSend {
  display: flex;
  border: none;
  background: rgba(255,255,255,0);
  margin-top: 60px;
  color: rgba(0,0,0,0.6);
  font-size:1.2em;
  cursor: pointer;
  transition: all .2s ease-in-out;
  margin-left: 780px;
  margin-top: 20px;
}

.btnSend button{
  background: rgba(255,255,255,0);
  color:white;
  font-size: 0.9em;
  border: none;
  cursor: pointer;
}

.btnSend:hover{

  transform: scale(1.1);

}

.btnSend:disabled,
.btnSend[disabled]{
  color: black
}

.btnSend:enabled,
.btnSend[enabled]{

  color: white;

}




.letter {
    color: white;
    font-weight: 900;
    margin-bottom: -10px;

}

.theForm {
    display: inline-block;
    margin-top: 40px;
    margin-left: 700px;
}

@media only screen and (max-width: 1222px) {
    .theForm {
        margin-left: 60px;
    }
}

@media only screen and (max-width: 1222px) {
    .btnSend {
        margin-left: 60px;
    }
}

input {
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-left: 20px;
}


.radioButton {
  margin-left: -70px;

}

.answerInput {
  /* margin-left:20px; */
  margin-top: 0;
  margin-bottom: -10px;
  width: 360px;
  text-align: left;
}

.questionInput {
  /* margin-top: 20px; */
  width: 360px;
  text-align: left;
}


