@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#381f1f+0,381f1f+100&1+0,0.87+51,1+100 */
  background: -moz-linear-gradient(top, rgba(56, 31, 31, 1) 0%, rgba(56, 31, 31, 0.87) 51%, rgba(56, 31, 31, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(56, 31, 31, 1) 0%, rgba(56, 31, 31, 0.87) 51%, rgba(56, 31, 31, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(56, 31, 31, 1) 0%, rgba(56, 31, 31, 0.87) 51%, rgba(56, 31, 31, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#381f1f', endColorstr='#381f1f', GradientType=0);
  /* IE6-9 */
  color: rgba(255, 255, 255, 0.8);
  margin: 30px;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.question{
  width: 50%;
  margin: auto;
  height: 400px;
  text-align: center;
  padding: 0;

}


#bgColor{
  background: green;
}

.question ul{
  padding: 0;
  list-style: none;

}
.Row{
  display: flex;
  justify-content: center;
}

.Row li{
  width: 100%;
  margin:0;
  padding: 20px 5px;
  background:rgba(0,0,0,0.2);
  border:2px solid rgba(0,0,0,0.4);
  text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}
.btnFb {
  font-size: 3em;
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile img {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  margin-top: 50px;
}

.profile h4 {
  margin: 0;
}

.profile li {
  position: relative;
  left: -15px;
  top: -10px;
}

.ruta {
  width: 70%;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
  clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
}

.wrapper {
  margin: 0 auto;
  display: flex;
  color: rgba(255, 255, 255, 0.7);
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  /* border-radius: 30px 0px; */
  background: rgba(0, 0, 0, 0.5);
  width: 65%;
  margin-top: 80px;
  align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  /* box-shadow: 0 0 10px rgba(0,0,0,.7); */
}

.wrapper div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wrapper div i:hover {
  transform: scale(1.1) rotate(2deg);
}

.info {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
}

.info span {
  font-size: 3em;
}

.socialamedierLogIn {
  position: relative;
  top: 40px;
  cursor: pointer;
}

.socialamedierLogIn i {
  color: rgba(255, 255, 255, 0.8);
  transition-property: transform;
  transition-duration: 0.3s;
}

.socialamedierLogIn i:hover {
  transform: rotate(3deg);
}

.socialamedierLogIn i:last-child {
  margin-left: 20px;
}

.btnGoogleLogin {
  font-size: 3em;
}

.App {
  position: relative;
  top: 150px;
  text-align: center;
}

#itHasBeenSent {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
