body {
    background-color: darkslategrey;
    color: white;
    margin: 30px;
}

.btnFb {
    background-color: royalblue;
    color: white;
    width: 600px;
    height: 60px;
    margin: 30px;
    border-radius: 30px;
    font-size: 21px;
}

.btnGoogleLogin{
    background-color: red;
    color: white;
    width: 600px;
    height: 60px;
    margin: 30px;
    border-radius: 30px;
    font-size: 21px;
}

.btnGoogleLogout {
    background-color: gray;
    color: white;
    width: 600px;
    height: 60px;
    margin: 30px;
    border-radius: 30px;
    font-size: 21px;
}

.App {
  text-align: center;
}

