@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de000e+0,de000e+99&0.29+0,1+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de000e+0,6d0000+99&0.55+0,1+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de000e+0,560000+99&0.55+0,1+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00447c+0,004b59+99&0.68+0,1+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008e85+0,005068+99 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a8296+0,295c89+99 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ce9e8c+0,a05940+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad8475+0,844d3b+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad8475+0,7c3a26+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad8475+0,49271e+100 */
  background: rgb(173,132,117); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(173,132,117,1) 0%, rgba(73,39,30,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(173,132,117,1) 0%,rgba(73,39,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(173,132,117,1) 0%,rgba(73,39,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad8475', endColorstr='#49271e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  margin: 30px;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.question{
  width: 50%;
  margin: auto;
  height: 400px;
  text-align: center;
  padding: 0;

}


#bgColor{
  background: green;
}

.question ul{
  padding: 0;
  list-style: none;

}
.Row{
  display: flex;
  justify-content: center;
}

.Row li{
  width: 100%;
  margin:0;
  padding: 20px 5px;
  background:rgba(0,0,0,0.2);
  border:2px solid rgba(0,0,0,0.4);
  text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}
.btnFb {
  font-size: 3em;
}

.profileText{
  color:rgba(0,0,0,0.7);
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  width:10%;
  box-shadow: 0px 0px white;
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin:0 auto;
}

.profile ul{
  color:rgba(255,255,255,0.7)
}

.profile img {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 20px rgba(82, 62, 62, 1);
  border-radius: 100%;
  margin-top: 50px;
}

.profile h4 {
  margin: 0;
}

.profile li {
  position: relative;
  left: -15px;
  top: -10px;
}

.ruta {
  width: 70%;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  display: none;
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
  clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
}

.wrapper {
  margin: 0 auto;
  display: flex;
  display: none;
  color: rgba(255, 255, 255, 0.7);
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  /* border-radius: 30px 0px; */
  background: rgba(255, 255, 255, 0.5);
  width: 65%;
  margin-top: 45px;
  align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  /* box-shadow: 0 0 10px rgba(0,0,0,.7); */
}

.wrapper div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wrapper div i:hover {
  transform: scale(1.1) rotate(2deg);
}

.info {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
}

.info span {
  color:rgba(0,0,0,0.5);
  font-size: 6em;
  transition-property: all;
  transition-duration: 2s;
}

.timequiz{
  transition-property: all;
  transition-duration: 2s;
}

.logout{
  background: rgba(255,255,255,0);
  border:none;
  margin-top: 100px;
  color: rgba(0,0,0,0.6);
  font-size:1.2em;
}

.socialamedierLogIn {
  position: relative;
  top: 140px;
  cursor: pointer;
}

.socialamedierLogIn i {
  color: rgba(255, 255, 255, 0.4);
  transition-property: all;
  transition-duration: 0.3s;
}

.socialamedierLogIn i:hover {
  transform: rotate(3deg);
  color: rgba(255, 255, 255, 0.7);

}



.socialamedierLogIn i:last-child {
  margin-left: 20px;
}

.btnGoogleLogin {
  font-size: 3em;
}

.App {
  position: relative;
  top: 150px;
  text-align: center;
}

#itHasBeenSent {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
